img {
    width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: 700;
    color: #50b5ff;
    margin: 10px;
    cursor: pointer;
}

.otherPage {
    font-weight: 700;
    color: rgba(80, 181, 255, 0.51);
    margin: 10px;
    cursor: pointer;
}

