
.cardProfile {
    display: flex;
    height: 350px;
    flex-direction: column;
    grid-area: card;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 30px 0 rgba(34, 60, 80, 0.08);
}
.cardProfile img {
    margin: 20px 20px 10px 20px;
    height: 150px;
    width: 150px;
}
.avatar {
    margin: 0 auto;
}
.nameProfile {
    text-align: center;
    font-size: 20px;
    color: rgba(63, 65, 77, 0.9);
}


.dataId {
    color: #50b5ff;
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
}
.textId {
    color: #000000;
    font-size: 15px;
    text-align: center;
}

.id {
    display: flex;
    justify-content: center;
}

.aboutMe {
    text-align: center;
    margin-top: 10px;
}